null/tmpFiles/XXKPMG_EMPLOYEES_PART_2_CODE.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by RMC By the Code sample of BI -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xsd:element name="XXKPMG_EMPLOYEES_PART_2_DM">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="PER_ADDRESSES_F" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="ADDRESS_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="COUNTRY" minOccurs="0" type="xsd:string"/>
<xsd:element name="POSTAL_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="REGION_1" minOccurs="0" type="xsd:string"/>
<xsd:element name="REGION_2" minOccurs="0" type="xsd:string"/>
<xsd:element name="REGION_3" minOccurs="0" type="xsd:string"/>
<xsd:element name="TOWN_OR_CITY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="DERIVED_LOCALE" minOccurs="0" type="xsd:string"/>
<xsd:element name="GEOMETRY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDRESS_LINE_1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDRESS_LINE_2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDRESS_LINE_3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDRESS_LINE_4" minOccurs="0" type="xsd:string"/>
<xsd:element name="BUILDING" minOccurs="0" type="xsd:string"/>
<xsd:element name="FLOOR_NUMBER" minOccurs="0" type="xsd:string"/>
<xsd:element name="LONG_POSTAL_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="TIMEZONE_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="DQ_VALIDATION_LEVEL" minOccurs="0" type="xsd:integer"/>
<xsd:element name="ADDL_ADDRESS_ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDL_ADDRESS_ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDL_ADDRESS_ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDL_ADDRESS_ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDL_ADDRESS_ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ADDR_ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_PEOPLE_X" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="APPLICANT_NUMBER" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="BLOOD_TYPE" minOccurs="0" type="xsd:string"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="COUNTRY_OF_BIRTH" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="DATE_OF_BIRTH" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="DATE_OF_DEATH" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="PERSON_NUMBER" minOccurs="0" type="xsd:string"/>
<xsd:element name="PRIMARY_EMAIL_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="PRIMARY_PHONE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="REGION_OF_BIRTH" minOccurs="0" type="xsd:string"/>
<xsd:element name="START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="TOWN_OF_BIRTH" minOccurs="0" type="xsd:string"/>
<xsd:element name="WAIVE_DATA_PROTECT" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE31" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE32" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE33" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE34" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE35" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE36" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE37" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE38" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE39" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE40" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE41" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE42" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE43" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE44" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE45" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE46" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE47" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE48" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE49" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE50" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE10" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE11" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE12" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE13" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE14" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE15" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE16" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE17" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBE18" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_PERIODS_OF_SERVICE" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="PERIOD_OF_SERVICE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="TERMINATION_ACCEPTED_PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="DATE_START" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ACCEPTED_TERMINATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ACTUAL_TERMINATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NOTIFIED_TERMINATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PROJECTED_TERMINATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="ADJUSTED_SVC_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION2" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION3" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION4" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION5" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION6" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION7" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION8" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION9" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION10" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION11" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION12" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION13" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION14" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION15" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION16" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION17" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION18" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION19" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION20" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION21" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION22" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION23" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION24" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION25" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION26" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION27" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION28" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION29" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION30" minOccurs="0" type="xsd:string"/>
<xsd:element name="PDS_INFORMATION_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="PDS_INFORMATION_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PDS_INFORMATION_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="DATE_EMPLOYEE_DATA_VERIFIED" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="FAST_PATH_EMPLOYEE" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_WORKING_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LEGAL_ENTITY_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="LEGISLATION_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="ON_MILITARY_SERVICE" minOccurs="0" type="xsd:string"/>
<xsd:element name="ORIGINAL_DATE_OF_HIRE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PERIOD_TYPE" minOccurs="0" type="xsd:string"/>
<xsd:element name="PRIMARY_FLAG" minOccurs="0" type="xsd:string"/>
<xsd:element name="REHIRE_AUTHORIZOR" minOccurs="0" type="xsd:string"/>
<xsd:element name="REHIRE_REASON" minOccurs="0" type="xsd:string"/>
<xsd:element name="REHIRE_RECOMMENDATION" minOccurs="0" type="xsd:string"/>
<xsd:element name="WORKER_NUMBER" minOccurs="0" type="xsd:string"/>
<xsd:element name="ACTION_OCCURRENCE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="COMMENTS" minOccurs="0" type="xsd:string"/>
<xsd:element name="REHIRE_AUTHORIZER_PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="REVOKE_USER_ACCESS" minOccurs="0" type="xsd:string"/>
<xsd:element name="WORKER_COMMENTS" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_PERSON_NAMES_F" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="PERSON_NAME_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="LEGISLATION_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAME_TYPE" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="FIRST_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="MIDDLE_NAMES" minOccurs="0" type="xsd:string"/>
<xsd:element name="TITLE" minOccurs="0" type="xsd:string"/>
<xsd:element name="PRE_NAME_ADJUNCT" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUFFIX" minOccurs="0" type="xsd:string"/>
<xsd:element name="KNOWN_AS" minOccurs="0" type="xsd:string"/>
<xsd:element name="PREVIOUS_LAST_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="HONORS" minOccurs="0" type="xsd:string"/>
<xsd:element name="MILITARY_RANK" minOccurs="0" type="xsd:string"/>
<xsd:element name="DISPLAY_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="FULL_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="LIST_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="ORDER_NAME" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION1" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION2" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION3" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION4" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION5" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION6" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION7" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION8" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION9" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION10" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION11" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION12" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION13" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION14" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION15" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION16" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION17" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION18" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION19" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION20" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION21" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION22" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION23" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION24" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION25" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION26" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION27" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION28" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION29" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION30" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAM_INFORMATION_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="NAM_INFORMATION_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="NAM_INFORMATION_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CHAR_SET_CONTEXT" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_ASSIGNMENT_SUPERVISORS_F" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="ASSIGNMENT_SUPERVISOR_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ASSIGNMENT_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="PRIMARY_FLAG" minOccurs="0" type="xsd:string"/>
<xsd:element name="MANAGER_ASSIGNMENT_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="MANAGER_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="MANAGER_TYPE" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="SUP_ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="SUP_ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ACTION_OCCURRENCE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="WORKING_PERCENTAGE" minOccurs="0" type="xsd:integer"/>
<xsd:element name="FREEZE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="FREEZE_UNTIL_DATE" minOccurs="0" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_PERSON_ADDR_USAGES_F" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="PERSON_ADDR_USAGE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDRESS_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="ADDRESS_TYPE" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_PEOPLE_LEGISLATIVE_F" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="PERSON_LEGISLATIVE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="LEGISLATION_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="SEX" minOccurs="0" type="xsd:string"/>
<xsd:element name="MARITAL_STATUS" minOccurs="0" type="xsd:string"/>
<xsd:element name="MARITAL_STATUS_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="HIGHEST_EDUCATION_LEVEL" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION2" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION3" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION4" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION5" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION6" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION7" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION8" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION9" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION10" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION11" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION12" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION13" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION14" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION15" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION16" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION17" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION18" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION19" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION20" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION21" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION22" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION23" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION24" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION25" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION26" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION27" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION28" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION29" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION30" minOccurs="0" type="xsd:string"/>
<xsd:element name="PER_INFORMATION_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="PER_INFORMATION_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="PER_INFORMATION_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_EMAIL_ADDRESSES" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="EMAIL_ADDRESS_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="PERSON_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="EMAIL_TYPE" minOccurs="0" type="xsd:string"/>
<xsd:element name="DATE_FROM" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="DATE_TO" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EMAIL_ADDRESS" minOccurs="0" type="xsd:string"/>
<xsd:element name="MASTERED_IN_LDAP_FLAG" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PER_ASSIGN_WORK_MEASURES_F" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:element name="ASSIGN_WORK_MEASURE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="BUSINESS_GROUP_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="ASSIGNMENT_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="UNIT" minOccurs="0" type="xsd:string"/>
<xsd:element name="VALUE" minOccurs="0" type="xsd:double"/>
<xsd:element name="LAST_UPDATE_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="LAST_UPDATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="LAST_UPDATE_LOGIN" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATED_BY" minOccurs="0" type="xsd:string"/>
<xsd:element name="CREATION_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="EFFECTIVE_END_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="OBJECT_VERSION_NUMBER" minOccurs="0" type="xsd:integer"/>
<xsd:element name="LEGISLATION_CODE" minOccurs="0" type="xsd:string"/>
<xsd:element name="ADDS_TO_BUDGET" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE_CATEGORY" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE1" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE2" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE3" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE4" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE5" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE6" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE7" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE8" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE9" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE10" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE11" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE12" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE13" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE14" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE15" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE16" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE17" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE18" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE19" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE20" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE21" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE22" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE23" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE24" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE25" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE26" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE27" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE28" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE29" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE30" minOccurs="0" type="xsd:string"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER1" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER2" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER3" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER4" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER5" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER6" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER7" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER8" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER9" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER10" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER11" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER12" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER13" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER14" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER15" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER16" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER17" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER18" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER19" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_NUMBER20" minOccurs="0" type="xsd:double"/>
<xsd:element name="AWM_ATTRIBUTE_DATE1" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE2" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE3" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE4" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE5" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE6" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE7" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE8" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE9" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE10" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE11" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE12" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE13" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE14" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="AWM_ATTRIBUTE_DATE15" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="ACTION_OCCURRENCE_ID" minOccurs="0" type="xsd:double"/>
<xsd:element name="FREEZE_START_DATE" minOccurs="0" type="xsd:dateTime"/>
<xsd:element name="FREEZE_UNTIL_DATE" minOccurs="0" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>